@import "../../../custom-theme.scss";

.addon-column {
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .addon-logo-container {
    background-color: $dark-2;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 11px;
    flex-shrink: 0;

    .addon-logo {
      width: 100%;
    }
  }

  .addon-title {
    font-weight: bold;
    font-size: 1.1em;
    // word-break: break-all;
    white-space: normal;
  }
}
