<div class="tab-strip bg-primary text-1" [ngClass]="{
  mac: electronService.isMac,
  windows: electronService.isWin,
  linux: electronService.isLinux
}">
  <div *ngFor="let tab of tabsTop" class="tab"
    [ngClass]="{ selected: tab.isSelected$ | async, disabled: tab.isDisabled$ | async }" (click)="tab.onClick(tab)">
    <mat-icon class="tab-icon tab-icon-inactive"
      [ngClass]="{ 'tab-icon-active': tab.isSelected$ | async, 'tab-icon-disabled': tab.isDisabled$ | async }"
      [svgIcon]="tab.icon">
    </mat-icon>
    <div class="tab-title" *ngIf="tab.titleKey">{{ tab.titleKey | translate }}</div>
    <!-- <mat-icon *ngIf="tab.badge === true" class="tab-icon-inactive z-badge clear-badge" matBadge="1" matBadgeColor="accent"
      [ngClass]="{'tab-icon-active': tab.isSelected$ | async }" [svgIcon]="tab.icon">
    </mat-icon> -->
  </div>
  <div class="spacer"></div>
  <a appExternalLink class="text-1 tab hover-bg-secondary-2" href="https://wowup.io/guide/section/my-addons/overview"
    matTooltip="{{ 'PAGES.MY_ADDONS.PAGE_CONTEXT_FOOTER.VIEW_GUIDE' | translate }}">
    <mat-icon class="tab-icon tab-icon-inactive" svgIcon="far:question-circle"></mat-icon>
    <div class="tab-title">{{ 'PAGES.HOME.GUIDE_TAB_TITLE' | translate }}</div>
  </a>
  <!-- <a appExternalLink class="patreon-link tab hover-bg-secondary-2" href="https://www.patreon.com/jliddev"
    matTooltip="{{ 'PAGES.MY_ADDONS.PAGE_CONTEXT_FOOTER.PATREON_SUPPORT' | translate }}">
    <img class="tab-icon patron-img" src="assets/images/patreon_logo_small.png" />
  </a> -->
  <!-- <a appExternalLink class="text-1 tab hover-bg-secondary-2" href="https://discord.gg/rk4F5aD"
    matTooltip="{{ 'PAGES.MY_ADDONS.PAGE_CONTEXT_FOOTER.JOIN_DISCORD' | translate }}">
    <mat-icon class="tab-icon tab-icon-inactive" svgIcon="fab:discord"></mat-icon>
  </a> -->
  <div class="tab hover-bg-secondary-2" [ngClass]="{ selected: isAccountSelected$ | async    }"
    (click)="onClickTab(TAB_INDEX_ACCOUNT)">
    <!-- <div class="tab-icon"> -->
    <mat-icon class="tab-icon tab-icon-inactive" svgIcon="fas:user-circle"
      [ngClass]="{ 'tab-icon-active': isAccountSelected$ | async }">
    </mat-icon>
    <!-- </div> -->
    <div *ngIf="(accountDisplayName$ | async) === ''" class="tab-title">{{ 'PAGES.HOME.ACCOUNT_TAB_TITLE' | translate }}</div>
    <div *ngIf="(accountDisplayName$ | async) !== ''" class="tab-title">{{accountDisplayName$ | async}}</div>
  </div>

  <div *ngFor="let tab of tabsBottom" class="tab hover-bg-secondary-2"
    [ngClass]="{ selected: tab.isSelected$ | async, disabled: tab.isDisabled$ | async }" (click)="tab.onClick(tab)">
    <!-- <div class="tab-icon"> -->
    <mat-icon class="tab-icon tab-icon-inactive" [svgIcon]="tab.icon"
      [ngClass]="{ 'tab-icon-active': tab.isSelected$ | async, 'tab-icon-disabled': tab.isDisabled$ | async }">
    </mat-icon>
    <!-- </div> -->
    <div class="tab-title" *ngIf="tab.titleKey">{{ tab.titleKey | translate }}</div>
  </div>
</div>