.tab-strip {
  height: 40px;
  display: flex;
  flex-direction: row;

  .patreon-link {
    padding: 0 0.25em;
    .patron-img {
      height: 25px;
    }
  }

  .tab {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

    &:hover {
      cursor: pointer;
    }

    &.selected {
      border-bottom: 3px solid var(--text-1);
    }
  }

  .spacer {
    flex-grow: 1;
  }
}
