.addon-provider-badge {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  min-height: 32px;
  height: 1px;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  border: 2px solid transparent;
  color: white;
  background-color: #525252;
  // background-color: #212121;
  letter-spacing: .4px;

  &.curse {
    border-color: #9147ff;
  }
  &.github {
    border-color: white;
  }
  &.wowinterface {
    border-color: #da8911;
  }
  &.tukui {
    border-color: #e77403;
  }
}
