@import "../../../variables.scss";

.container {
  padding: 0.5em;
  background-color: $dark-4;
  color: $white-1;

  .header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;

    .icon {
      background-color: $dark-2;
      width: 40px;
      height: 40px;
      margin-right: 0.5em;
      background-size: contain;
      background-repeat: none;
    }
  }

  p {
    margin: 0;
  }
}
