<div class="container">
    <div class="header">
        <div class="icon" [style.backgroundImage]="'url(' + addon.thumbnailUrl + ')'"></div>
        <div>
            <p>{{addon.name}}</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div style="visibility: hidden; position: fixed" [style.left]="xPos"
        [style.top]="yPos" [matMenuTriggerFor]="contextMenu">
    </div>
    <mat-menu #contextMenu="matMenu">
        <ng-template matMenuContent let-addon="addon">
            <div>{{addon.name}}</div>
            <button mat-menu-item (click)="onContextMenuAction1(item)">Action 1</button>
            <button mat-menu-item (click)="onContextMenuAction2(item)">Action 2</button>
        </ng-template>
    </mat-menu>
</div>