<div class="container">
    <div class="header">
        <div class="icon" [style.backgroundImage]="'url(' + addon.thumbnailUrl + ')'"></div>
        <div>
            <p>{{addon.name}}</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
        [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
    </div>
    <mat-menu #contextMenu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
</div>