.wtf-backup-dialog {
  width: 600px;
  max-width: 100%;
}

.backup-list {
  background-color: var(--background-secondary-2);
  margin: 0;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;

  .backup-list-item:not(:last-child) {
    border-bottom: 1px solid var(--background-secondary-1);
  }

  .backup-list-item {
    padding: 1em;
    list-style: none;
    border-left: 3px solid transparent;

    .status-badge {
      width: 20px;
      height: 20px;
    }

    .title {
      font-size: 1.2em;
    }

    &:hover {
      border-left-color: var(--background-primary);
      background-color: var(--background-secondary-1);
    }
  }
}
