footer {
  height: 22px;
  padding: 0.25em 0.5em;
  display: flex;
  align-items: center;

  .btn {
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5em;

    &:hover {
      cursor: pointer;
      background-color: var(--footer-hover);
      border-radius: 4px;
    }

    img {
      height: 100%;
    }

    mat-icon {
      height: 22px;
    }
  }
  p {
    font-size: 0.85em;
    margin: 0;
  }

  a,
  img {
    -webkit-app-region: no-drag;
  }

  .footer-button {
    height: 22px;
    padding: 0 0.5em;
    margin: 0;
    overflow: hidden;
    border-radius: 4px;
    border: none;
    background-color: transparent;

    &.update-button {
      background-color: rgb(0, 128, 0);

      .mat-icon {
        height: 12px;
        width: 12px;
        font-size: 12px;
        vertical-align: -2px;
      }

      &:hover {
        background-color: rgba(0, 128, 0, 0.1);
        cursor: pointer;
      }

      &:disabled {
        background-color: var(--background-secondary-2);
      }
    }

    .mat-icon {
      pointer-events: none;
      height: 20px;
      width: 20px;
    }

    &.check-update-button {
      &:hover {
        cursor: pointer;
      }
    }

    &.downloading-button {
      &.animate {
        animation: fadeInDown 1s infinite linear;
      }
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}
