.addon-manage-dialog {
  min-width: 600px;
}

.export-content {
  resize: none;
  width: 100%;
  min-height: 300px;
}

.import-content {
    resize: none;
    width: 100%;
    min-height: 200px;
  }
  
