@import '../../custom-theme.scss';

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
}
.grow {
    flex-grow: 1;
}
.no-shrink{
    flex-shrink: 0;
}
section {
    color: $white-1;
    padding: 1em;

    .title {
        font-size: 1.5em;
        flex-grow: 1;
    }

    .folder-input {
        margin-right: 1em;
    }

    .select-button {
        flex-shrink: 0;
    }
    
    small {
        color: $white-2;
    }
}
