@import "../../../variables.scss";

.addon-column {
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .addon-logo-container {
    background-color: $dark-2;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 11px;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    .addon-logo {
      width: 100%;
    }
  }

  .addon-title {
    white-space: normal;
    text-decoration: none;
    color: $white-1;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: $white-2;
    }
  }
  
  .addon-version {
    color: $white-2;
  }
}
