<div class="addon-column row align-items-center">
  <div *ngIf="hasThumbnail === true" class="addon-logo-container"
    [style.backgroundImage]="'url(' + addon.thumbnailUrl + ')'">
  </div>
  <div *ngIf="hasThumbnail === false" class="addon-logo-container">
    <div class="addon-logo-letter">
      {{thumbnailLetter}}
    </div>
  </div>
  <div>
    <a class="addon-title mat-subheading-2" (click)="viewDetails()">{{addon.name}}</a>
    <div class="addon-version">{{addon | getAddonListItemFileProp:'version':channel}}</div>
  </div>
</div>