<div class="tab-container">
  <div class="control-container">
    <div class="select-container ">
      <mat-form-field>
        <mat-label>World of Warcraft</mat-label>
        <mat-select class="select" [(value)]="selectedClient" (selectionChange)="onClientChange()"
          [disabled]="busy === true">
          <mat-option [value]="clientType" *ngFor="let clientType of warcraftService.clientTypes$ | async">
            {{warcraftService.getClientDisplayName(clientType)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button mat-flat-button color="primary" [disabled]="busy === true">Update All</button>
      <button mat-flat-button color="primary" [disabled]="busy === true">Refresh</button>
      <button mat-flat-button color="primary" [disabled]="busy === true" (click)="onReScan()">Re-Scan</button>
    </div>
  </div>

  <div class="table-container">
    <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-balham" [gridOptions]="gridOptions" [rowData]="displayAddons$ | async"
      [columnDefs]="columnDefs">
    </ag-grid-angular>

    <table mat-table [dataSource]="displayAddons$ | async" class="addon-table mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="addon">
        <th mat-header-cell *matHeaderCellDef>Addon</th>
        <td mat-cell *matCellDef="let element">
          <div class="addon-column row align-items-center">
            <div class="addon-logo-container">
              <img class="addon-logo" [src]="element.thumbnailUrl" />
            </div>
            <div>
              <div class="addon-title">{{element.name}}</div>
              <div>{{element.installedVersion}}</div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="latest-version">
        <th mat-header-cell *matHeaderCellDef>Latest Version</th>
        <td mat-cell *matCellDef="let element"> {{element.latestVersion}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="game-version">
        <th mat-header-cell *matHeaderCellDef>Game Version</th>
        <td mat-cell *matCellDef="let element"> {{element.gameVersion}} </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>Author</th>
        <td mat-cell *matCellDef="let element"> {{element.author}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>