<h1 mat-dialog-title>Install Addon URL</h1>
<div mat-dialog-content>
    <p>If you want to install an addon directly from a URL paste it below to get started.</p>
    <p>Supports WowInterface and GitHub*</p>
    <mat-form-field class="url-input-container">
        <mat-label>Addon URL</mat-label>
        <input matInput placeholder="Ex. GitHub or WowInterface URL" [(ngModel)]="query" (keyup.enter)="onImportUrl()"
            [disabled]="isInstalling === true || isBusy === true">
        <button mat-button color="accent" *ngIf="query" matSuffix mat-icon-button aria-label="Clear"
            (click)="onClearSearch()" [disabled]="isInstalling === true || isBusy === true">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div *ngIf="isBusy === true" class="busy-container">
        <mat-spinner diameter="50"></mat-spinner>
        <i>Loading...</i>
    </div>
    <div *ngIf="isBusy === false && addon !== undefined" class="addon-container">
        <div class="addon-thumb" [style.backgroundImage]="'url(' + addon.thumbnailUrl + ')'"></div>
        <div class="addon-info">
            <h4>{{addon.name}}</h4>
            <p>{{addon.author}}</p>
            <p class="addon-download-count">{{addon.downloadCount | downloadCount }} downloads on {{addon.providerName}}
            </p>
        </div>
        <div class="install-container">
            <mat-spinner *ngIf="showInstallSpinner === true" diameter="40"></mat-spinner>
            <button *ngIf="showInstallButton === true" mat-flat-button color="primary" (click)="onInstall()">
                Install
            </button>
            <div *ngIf="showInstallSuccess === true">
                <div class="success-icon">
                    <mat-icon>check_circle_outline</mat-icon>
                </div>
                <div>Installed!</div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onClose()">Close</button>
    <button mat-button cdkFocusInitial (click)="onImportUrl()">Import</button>
</div>