<div class="tab-container" [ngClass]="{
    mac: electronService.isMac,
    windows: electronService.isWin,
    linux: electronService.isLinux
  }">
  <div class="control-container text-1">
    <div class="account-container p-3 bg-secondary-4 mat-elevation-z8 rounded">
      <h1>Account <span class="text-control"><i>Beta</i></span></h1>
      <div *ngIf="(sessionService.wowUpAuthenticated$ | async) === false">
        <p>Login now to get the most out of your WowUp application.</p>
        <button mat-flat-button color="primary" (click)="testLogin()">
          {{ "Login Now!" | translate }}
        </button>
      </div>
      <div *ngIf="(sessionService.wowUpAuthenticated$ | async) === true">
        <h4>You're logged in!</h4>
        <p>You're now able to access our various cloud services to help you maximize your addon experience.</p>
        <div class="row align-items-center">
          <div class="flex-grow-1">
            <div>
              {{ "Instant Updates" | translate }}
            </div>
            <small class="text-2">{{ "You should get addon updates as soon as we know about them" | translate }}</small>
          </div>
          <mat-slide-toggle>
          </mat-slide-toggle>
        </div>
        <div class="row justify-content-end mt-3">
          <button mat-flat-button color="warn" (click)="logout()">
            {{ "Logout" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>