.message {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    word-break: break-word;
    white-space: pre-wrap;
}

.dialog-buttons {
  display:flex;
  .btn-wrapper {
    margin-left: auto;
  }
}
