<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <pre class="message">{{ data.message }}</pre>
</div>
<div mat-dialog-actions class="dialog-buttons">
  <div class="btn-wrapper">
    <button mat-button [mat-dialog-close]="false" color="primary">
      {{ "DIALOGS.CONFIRM.NEGATIVE_BUTTON" | translate }}
    </button>
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial color="primary">
      {{ "DIALOGS.CONFIRM.POSITIVE_BUTTON" | translate }}
    </button>
  </div>
</div>
