<div class="tab-container" [ngClass]="{
    mac: electronService.isMac,
    windows: electronService.isWin,
    linux: electronService.isLinux
  }">
  <div class="control-container bg-secondary-3">
    <div class="select-container">
      <mat-form-field>
        <mat-label>{{ "PAGES.GET_ADDONS.CLIENT_TYPE_SELECT_LABEL" | translate }}</mat-label>
        <mat-select class="select" [(value)]="selectedInstallationId" (selectionChange)="onClientChange()"
          [disabled]="(isBusy$ | async) === true">
          <mat-option [value]="installation.id" *ngFor="let installation of wowInstallations$ | async">
            {{ installation.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="right-container">
      <div class="search-container">
        <mat-form-field>
          <mat-label>{{ "PAGES.GET_ADDONS.SEARCH_LABEL" | translate }}</mat-label>
          <input matInput type="text" [(ngModel)]="query" (keyup.enter)="onSearch()" />
          <button mat-button color="accent" *ngIf="query" matSuffix mat-icon-button aria-label="Clear"
            (click)="onClearSearch()">
            <mat-icon svgIcon="fas:times"></mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-flat-button color="primary" (click)="onRefresh()">
          {{ "PAGES.GET_ADDONS.REFRESH_BUTTON" | translate }}
        </button>
        <button mat-flat-button color="primary" (click)="onInstallFromUrl()">
          {{ "PAGES.GET_ADDONS.INSTALL_FROM_URL_BUTTON" | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="spinner-container flex-grow-1" *ngIf="(isBusy$ | async) === true">
    <app-progress-spinner> </app-progress-spinner>
  </div>

  <div *ngIf="(isBusy$ | async) === false && (hasData$ | async) === false"
    class="no-addons-container flex-grow-1 text-1">
    <h1>{{ "COMMON.SEARCH.NO_ADDONS" | translate }}</h1>
  </div>

  <ag-grid-angular class="wu-ag-table ag-theme-material" [hidden]="(showTable$ | async) === false"
    [rowData]="rowData$ | async" [columnDefs]="columnDefs" [columnTypes]="columnTypes" [rowSelection]="'single'"
    [frameworkComponents]="frameworkComponents" [rowHeight]="63" (rowDoubleClicked)="onRowDoubleClicked($event)"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>

</div>

<!-- COLUMNS CONTEXT MENU -->
<div style="visibility: hidden; position: fixed" #columnContextMenuTrigger="matMenuTrigger"
  [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="columnContextMenu">
</div>
<mat-menu #columnContextMenu="matMenu" class="addon-context-menu">
  <ng-template matMenuContent let-columns="columns">
    <div class="addon-context-menu-header">
      <div class="addon-name">
        {{ "PAGES.MY_ADDONS.COLUMNS_CONTEXT_MENU.TITLE" | translate }}
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-checkbox *ngFor="let column of columns" class="mat-menu-item" [checked]="column.visible"
      (change)="onColumnVisibleChange($event, column)">
      {{ column.display | translate }}
    </mat-checkbox>
  </ng-template>
</mat-menu>