<div class="tab-container" [ngClass]="{'mac': electronService.isMac, 'windows': electronService.isWin }">
  <div class="control-container">
    <div class="select-container ">
      <mat-form-field>
        <mat-label>World of Warcraft</mat-label>
        <mat-select class="select" [(value)]="selectedClient" (selectionChange)="onClientChange()"
          [disabled]="busy === true">
          <mat-option [value]="clientType" *ngFor="let clientType of warcraftService.clientTypes$ | async">
            {{warcraftService.getClientDisplayName(clientType)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button mat-flat-button color="primary" (click)="onRefresh()">Refresh</button>
      <button mat-flat-button color="primary">Install from URL</button>
      <mat-form-field class="example-form-field">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="query">
        <button mat-button color="accent" *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div class="table-container flex-grow-1">
    <table mat-table [dataSource]="displayAddons$ | async" class="mat-elevation-z8">
      <ng-container matColumnDef="addon">
        <th mat-header-cell *matHeaderCellDef> Addon </th>
        <td mat-cell *matCellDef="let element" (contextmenu)="onCellContext($event, element)">
          <app-my-addons-addon-cell [addon]="element"></app-my-addons-addon-cell>
        </td>
      </ng-container>

      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef class="provider-column"> Provider </th>
        <td mat-cell *matCellDef="let element">
          {{element.providerName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef class="author-column"> Author </th>
        <td mat-cell *matCellDef="let element">
          {{element.author}}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <app-potential-addon-status-column [addon]="element" ></app-potential-addon-status-column>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <ag-grid-angular class="ag-theme-balham addon-table" [gridOptions]="gridOptions" [rowData]="displayAddons$ | async"
      [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
    </ag-grid-angular> -->
  </div>
</div>
