@import "../../../variables.scss";

:host {
  margin-right: 0.5em;

  &:last-child {
    margin-right: 0;
  }
}
.funding-button {
  //   background-color: $dark-3;
  margin-right: 0.5em;

  .funding-icon {
    height: 20px;
    width: 20px;
    margin-right: 0.5em;
  }
}
