.progress-button {
  background-color: var(--background-primary);
  color: var(--text-1);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: normal;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  line-height: 1rem;
  max-width: 100%;

  &[disabled] {
    background-color: grey;
  }

}
