<div class="tab-container d-flex flex-col"
  [ngClass]="{'mac': electronService.isMac, 'windows': electronService.isWin }">
  <div class="control-container">
    <div class="select-container ">
      <mat-form-field>
        <mat-label>World of Warcraft</mat-label>
        <mat-select class="select" [(value)]="selectedClient" (selectionChange)="onClientChange()"
          [disabled]="enableControls === false">
          <mat-option [value]="clientType" *ngFor="let clientType of warcraftService.clientTypes$ | async">
            {{warcraftService.getClientDisplayName(clientType)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button mat-flat-button color="primary" matTooltip="Update all addons for this client"
        [disabled]="enableControls === false" (click)="onUpdateAll()" (contextmenu)="onUpdateAllContext($event)">Update
        All</button>
      <button mat-flat-button color="primary" matTooltip="Check for latest addon updates"
        [disabled]="enableControls === false" (click)="onRefresh()">Check Updates</button>
      <button mat-flat-button color="primary" matTooltip="Scan your client folder for installed addons"
        [disabled]="enableControls === false" (click)="onReScan()">Re-Scan Folders</button>
    </div>
  </div>

  <app-progress-spinner *ngIf="isBusy === true" [message]="spinnerMessage" ></app-progress-spinner>

  <div class="table-container flex-grow-1" *ngIf="isBusy === false">
    <table mat-table [dataSource]="displayAddons$ | async" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="addon">
        <th mat-header-cell *matHeaderCellDef> Addon </th>
        <td mat-cell *matCellDef="let element" (contextmenu)="onCellContext($event, element)">
          <app-my-addons-addon-cell [addon]="element"></app-my-addons-addon-cell>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <div class="status-column">
            <mat-icon *ngIf="element.addon.autoUpdateEnabled" class="auto-update-icon" matTooltip="Auto update enabled">
              update</mat-icon>
            <button *ngIf="element.needsInstall === true" mat-flat-button color="primary"
              (click)="onInstall()">Install</button>
            <button *ngIf="element.needsUpdate === true" mat-flat-button color="primary"
              (click)="onUpdateAddon(element)">Update</button>
            <div *ngIf="element.isUpToDate === true || element.isIgnored === true" class="status-text">
              {{element.statusText}}</div>
            <div *ngIf="element.isInstalling === true" class="progress-container">
              <p class="progress-text">{{element.statusText}}</p>
              <mat-progress-bar class="addon-progress" mode="determinate" [value]="element.installProgress">
              </mat-progress-bar>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="latestVersion">
        <th mat-header-cell *matHeaderCellDef> Latest Version </th>
        <td mat-cell *matCellDef="let element">
          {{element.addon.latestVersion}}
        </td>
      </ng-container>

      <ng-container matColumnDef="gameVersion">
        <th mat-header-cell *matHeaderCellDef> Game Version </th>
        <td mat-cell *matCellDef="let element">
          {{element.addon.gameVersion}}
        </td>
      </ng-container>

      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef class="provider-column"> Provider </th>
        <td mat-cell *matCellDef="let element">
          {{element.addon.providerName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef class="author-column"> Author </th>
        <td mat-cell *matCellDef="let element">
          {{element.addon.author}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
        (contextmenu)="onHeaderContext($event); $event.preventDefault();"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>

<div style="visibility: hidden; position: fixed" #addonContextMenuTrigger="matMenuTrigger"
  [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu" class="addon-context-menu">
  <ng-template matMenuContent let-listItem="listItem">
    <div class="addon-context-menu-header">
      <div class="thumbnail" [style.backgroundImage]="'url(' + listItem.addon.thumbnailUrl + ')'"></div>
      <div>
        <div class="addon-name">{{listItem.addon.name}}</div>
        <div class="addon-version">{{listItem.addon.latestVersion}}</div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-checkbox class="mat-menu-item" [checked]="listItem.addon.isIgnored"
      (change)="onClickIgnoreAddon($event, listItem)">Ignore
    </mat-checkbox>
    <mat-checkbox *ngIf="listItem.addon.isIgnored === false" class="mat-menu-item"
      [checked]="listItem.addon.autoUpdateEnabled" (change)="onClickAutoUpdateAddon($event, listItem.addon)">Auto
      Update
    </mat-checkbox>
    <button mat-menu-item [matMenuTriggerFor]="addonChannels">Channel</button>
    <button mat-menu-item (click)="onReInstallAddon(listItem.addon)">Re-Install</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onRemoveAddon(listItem.addon)">Remove</button>
    <mat-menu #addonChannels="matMenu" class="addon-context-menu">
      <mat-radio-group class="vertical-radio-group" [ngModel]="listItem.addon.channelType"
        (change)="onSelectedAddonChannelChange($event, listItem.addon)">
        <mat-radio-button class="mat-menu-item" [value]="0">Stable</mat-radio-button>
        <mat-radio-button class="mat-menu-item" [value]="1">Beta</mat-radio-button>
        <mat-radio-button class="mat-menu-item" [value]="2">Alpha</mat-radio-button>
      </mat-radio-group>
    </mat-menu>
  </ng-template>
</mat-menu>

<div style="visibility: hidden; position: fixed" #columnContextMenuTrigger="matMenuTrigger"
  [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="columnContextMenu">
</div>
<mat-menu #columnContextMenu="matMenu" class="addon-context-menu">
  <ng-template matMenuContent let-columns="columns">
    <div class="addon-context-menu-header">
      <div class="addon-name">Show Columns</div>
    </div>
    <mat-divider></mat-divider>
    <mat-checkbox *ngFor="let column of columns" class="mat-menu-item" [checked]="column.visible"
      (change)="onColumnVisibleChange($event, column)">
      {{column.display}}
    </mat-checkbox>
  </ng-template>
</mat-menu>

<div style="visibility: hidden; position: fixed" #updateAllContextMenuTrigger="matMenuTrigger"
  [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="updateAllContextMenu">
</div>
<mat-menu #updateAllContextMenu="matMenu" class="addon-context-menu">
  <ng-template matMenuContent let-columns="columns">
    <button mat-menu-item (click)="onUpdateAllRetailClassic()">Update Retail/Classic</button>
    <button mat-menu-item (click)="onUpdateAllClients()">Update All Clients</button>
  </ng-template>
</mat-menu>