.wu-ag-table {
  width: 100%;
  height: calc(100% - 86px);
}

.control-container {
  display: flex;
  flex-direction: row;
  padding: 0 1em 0 1em;
  margin: 1em 1em 0 1em;
  // border-radius: 4px;

  .select-container {
    padding-top: 1em;
    flex-grow: 1;
  }

  .right-container {
    display: flex;
    flex-direction: row;

    .filter-container {
      padding-top: 1em;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 1em;

      button {
        &:not(:last-child) {
          margin-right: 0.5em;
        }
      }
    }
  }
}

.switch-button {
  padding-left: 0;
}

.menu-button {
  overflow: hidden;
  margin-right: 0 !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 16px;
}
.menu-button-divider {
  width: 1px;
  height: 36px;
}
.chip {
  margin-right: 0.5em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 10px;
  width: auto;
  min-width: auto;

  .mat-icon {
    width: 12px;
    padding-bottom: 3px;
  }
}

.no-addons-container {
  height: calc(100% - 86px);
  display: flex;
  color: var(--text-1);
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.spinner-container {
  height: calc(100% - 86px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;

  table {
    width: 100%;
  }

  .cell-padding {
    padding-right: 1em;
  }
}

.author-column {
  width: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
}
.provider-column {
  min-width: 70px;
}

.column-menu {
  padding: 0.5em;
  color: var(--text-1);

  p {
    margin-bottom: 0.5em;
  }
}

.open-in-browser-icon {
  width: 12px;
  height: 12px;
  margin-right: 0 !important;
}
