@import "../../../variables.scss";

.tab-container {
  &.linux {
    height: calc(100vh - 110px);
  }
}

.control-container {
  display: flex;
  flex-direction: row;
  padding: 0 1em 0 1em;

  .select-container {
    padding-top: 1em;
    flex-grow: 1;
  }

  .right-container {
    display: flex;
    flex-direction: row;

    .filter-container {
      padding-top: 1em;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 1em;

      button {
        &:not(:last-child) {
          margin-right: 0.5em;
        }
      }
    }
  }
}

.no-addons-container {
  display: flex;
  color: $white-1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  // height: calc(100% - 75px);
  background-color: $dark-2;
  overflow: auto;

  table {
    width: 100%;
  }

  tr {
    &:hover {
      background-color: $dark-1;
    }
  }

  .addon-logo-container {
    background-color: $dark-2;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.5em;
    flex-shrink: 0;

    .addon-logo {
      width: 100%;
    }
  }

  .addon-title {
    font-weight: 400;
    font-size: 1.1em;
    word-break: break-all;
    white-space: pre-wrap;
  }

  .addon-update-available {
    color: $artifact;
  }

  .game-version-cell {
    min-width: 110px;
  }

  .installed-at-cell,
  .released-at-cell {
    min-width: 100px;
  }

  .status-column {
    // display: flex;
    width: 130px;
    // align-items: center;

    .auto-update-icon {
      margin-left: 0.5em;
    }

    .progress-text {
      text-align: center;
    }

    .addon-progress {
      width: 110px;
    }
  }

  .selected-row {
    background: $dark-4;
  }

  .addon-provider {
    display: flex;
    align-items: center;

    .addon-provider-name {
      margin-right: 0.25em;
    }

    .provider-logo {
      width: 15px;
      height: 15px;
    }
  }

  .cell-padding {
    padding-right: 1em;
  }
}

.author-column {
  width: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
}
.provider-column {
  min-width: 70px;
}

.column-menu {
  padding: 0.5em;
  color: $white-1;

  p {
    margin-bottom: 0.5em;
  }
}
