<div class="page-container">
  <div class="tabs">
    <mat-tab-group mat-align-tabs="center" [backgroundColor]="'primary'" [disablePagination]="true"
      (selectedIndexChange)="onSelectedIndexChange($event)">
      <mat-tab label="My Addons">
        <app-my-addons></app-my-addons>
      </mat-tab>
      <mat-tab label="Get Addons">
        <app-get-addons></app-get-addons>
      </mat-tab>
      <mat-tab label="About">
        <app-about></app-about>
      </mat-tab>
      <mat-tab label="Options">
        <app-options></app-options>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>