<div *ngIf="appReady === false" class="page-container bg-secondary-3" [ngClass]="{ linux: electronService.isLinux }">
  <div class="preload-container">
    <app-progress-spinner [message]="preloadSpinnerKey | translate"> </app-progress-spinner>
  </div>
</div>
<div *ngIf="appReady === true" class="page-container bg-secondary" [ngClass]="{ linux: electronService.isLinux }">
  <div class="tabs header-less-tabs">
    <mat-tab-group
      class="h-100 grow-tab-content"
      mat-align-tabs="center"
      animationDuration="0ms"
      [backgroundColor]="'primary'"
      [disablePagination]="true"
      [selectedIndex]="sessionService.selectedHomeTab$ | async"
    >
      <mat-tab
        bodyClass="mat-tab-my-addons"
        [disabled]="hasWowClient !== true"
        [label]="'PAGES.HOME.MY_ADDONS_TAB_TITLE' | translate"
      >
        <app-my-addons [tabIndex]="TAB_INDEX_MY_ADDONS"></app-my-addons>
      </mat-tab>
      <mat-tab [disabled]="hasWowClient !== true" [label]="'PAGES.HOME.GET_ADDONS_TAB_TITLE' | translate">
        <app-get-addons [tabIndex]="TAB_INDEX_GET_ADDONS"></app-get-addons>
      </mat-tab>
      <mat-tab [disabled]="hasWowClient !== true" [label]="'PAGES.HOME.ABOUT_TAB_TITLE' | translate">
        <app-account-page></app-account-page>
      </mat-tab>
      <mat-tab [label]="'PAGES.HOME.NEWS_TAB_TITLE' | translate">
        <app-news-panel [tabIndex]="TAB_INDEX_NEWS"></app-news-panel>
      </mat-tab>
      <mat-tab [label]="'PAGES.HOME.OPTIONS_TAB_TITLE' | translate">
        <app-options [tabIndex]="TAB_INDEX_SETTINGS"></app-options>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
