<footer class="bg-dark-4 text-light-2">
  <a appExternalLink class="patreon-link" href="https://www.patreon.com/jliddev" matTooltip="{{'PAGES.MY_ADDONS.PAGE_CONTEXT_FOOTER.PATREON_SUPPORT' | translate}}"
    appUserActionTracker category="Footer" action="Patreon">
    <img class="patron-img" src="assets/Digital-Patreon-Wordmark_FieryCoral.png" />
  </a>
  <a appExternalLink class="discord-link" href="https://discord.gg/rk4F5aD" matTooltip="{{'PAGES.MY_ADDONS.PAGE_CONTEXT_FOOTER.JOIN_DISCORD' | translate}}"
    appUserActionTracker category="Footer" action="Discord">
    <img class="discord-img" src="assets/images/discord_logo_small.png" />
  </a>
  <p class="flex-grow-1">{{sessionService.statusText$ | async}}</p>
  <div class="row">
    <p class="mr-3">{{sessionService.pageContextText$ | async}}</p>
    <p>v{{wowUpService.applicationVersion}}</p>
  </div>
</footer>
