.patron-img {
    height: 25px;
}
footer {
    height: 25px;
    padding: 0.25em 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a, img {
        height: 25px;
    }

    div {
        font-size: 0.8em;
    }
}