@import "../../../variables.scss";

.patron-img {
    height: 25px;
}
footer {
    height: 25px;
    padding: 0.25em 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a, img {
        height: 25px;
        -webkit-app-region: no-drag;
        cursor: pointer;
    }
    // a:hover {
    //     background: $dark-3;
    // }

    div {
        font-size: 0.8em;
    }

    .patreon-link{
        &:hover {
            background-color: $dark-3;
        }
    }
}