@import "../../../variables.scss";

footer {
  height: 22px;
  padding: 0.25em 0.5em;
  display: flex;
  align-items: center;

  p {
    font-size: 0.85em;
    margin: 0;
  }

  a,
  img {
    height: 25px;
    -webkit-app-region: no-drag;
    cursor: pointer;
  }

  .footer-button {
    height: 25px;
    padding: 0 0.5em;
    margin: 3px 0 0 0;
    overflow: hidden;
    border-radius: 4px;
    border: none;
    background-color: transparent;

    &.update-button {
      background-color: rgb(0, 128, 0);
      // border: 1px solid rgb(0, 128, 0);
      // color: rgb(0, 128, 0);

      h4 {
        margin: 0;
        padding: 0;
      }

      &:hover {
        background-color: rgba(0, 128, 0, 0.1);
        cursor: pointer;
      }

      &:disabled {
        background-color: var(--background-secondary-2);
      }
    }

    .mat-icon {
      pointer-events: none;
      height: 20px;
      width: 20px;
    }

    &.check-update-button {
      &:hover {
        cursor: pointer;
      }
    }

    &.downloading-button {
      &.animate {
        animation: fadeInDown 1s infinite linear;
      }
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}
