<a *ngIf="size === 'large'" class="wu-btn wu-btn-primary" class="funding-button large" appExternalLink
  [matTooltip]="tooltipKey | translate:{platform:fundingName}" [href]="funding.url">
  <mat-icon *ngIf="isFontIcon === true" [svgIcon]="iconSrc"></mat-icon>
  <img *ngIf="isFontIcon === false" class="funding-icon" [src]="iconSrc" />
  <span>{{ fundingName }}</span>
</a>
<a *ngIf="size === 'small'" class="funding-button small text-1 hover-primary-2 text-1-hover" appExternalLink
  [matTooltip]="tooltipKey | translate:{platform:fundingName}" [href]="funding.url">
  <mat-icon *ngIf="isFontIcon === true" [class]="getClassName()" [svgIcon]="iconSrc">
  </mat-icon>
  <img *ngIf="isFontIcon === false" class="funding-icon" [src]="iconSrc" />
</a>
