<h1 mat-dialog-title>{{ data.title }}</h1>
<mat-dialog-content class="mat-typography">
  <pre class="message max-lines-3">{{ data.message }}</pre>
  <section class="mb-3">
    <mat-checkbox [(ngModel)]="trustDomain">{{ "DIALOGS.TRUST_DOMAIN_CHECKBOX" | translate }}</mat-checkbox>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="wu-btn wu-btn-flat mr-2" (click)="onConfirm(false)">
    {{ "DIALOGS.CONFIRM.NEGATIVE_BUTTON" | translate }}
  </button>
  <button class="wu-btn wu-btn-primary" cdkFocusInitial (click)="onConfirm(true)">
    {{ "DIALOGS.CONFIRM.POSITIVE_BUTTON" | translate }}
  </button>
</mat-dialog-actions>
