$blue-1: #315891;
$blue-2: #24416c;
$highlight: #01BAEF;

$dark-1: #666666;
$dark-2: #555555;
$dark-3: #444444;
$dark-4: #333333;

$purple-1: #6B69D6;
$purple-2: #504FA1;
$purple-3: #383773;

$white-1: #FFFFFF;
$white-2: #DDDDDD;
$white-3: #CCCCCC;
$white-4: #BBBBBB;

$rare-color: #0070DD;
$epic-color: #A335EE;