$blue-1: #315891;
$blue-2: #24416c;
$highlight: #01baef;

$dark-1: #666666;
$dark-2: #555555;
$dark-3: #444444;
$dark-4: #333333;
$dark-5: #222222;

$purple-1: #6b69d6;
$purple-2: #504fa1;
$purple-3: #383773;

$white-1: #ffffff;
$white-2: #dddddd;
$white-3: #cccccc;
$white-4: #bbbbbb;

$rare-color: #0070dd;
$epic-color: #a335ee;

$artifact: #dbcc78;

// WOWUP
$wowup-purple-1: #8c9eff;
$wowup-purple-2: #536dfe;
$wowup-purple-3: #3d5afe;
$wowup-control: #536dfe;

// HORDE
// Material Color Palette - http://mcg.mbitson.com/#!?horde=%238c1616
$horde-red-1: #8c1616; // Header Color - Primary 500
$horde-red-2: #9d3939; // Second Color - Primary 400
$horde-red-3: #5c0606; //  Scroll bar toggle color - Primary 900
$horde-control: #ff5b5b; // Option toggle color - Accent 200

// ALLIANCE
// Material Color Palette - http://mcg.mbitson.com/#!?alliance=%23162c57
$alliance-blue-1: #162c57; // Header color - Primary 500
$alliance-blue-2: #394c70; // Secondary color - Primary 400
$alliance-blue-3: #06102c; // Scroll bar toggle color - Primary 900
$alliance-control: #335eff; // Option toggle color - Accent 200

// LIGHT THEME
$lt-secondary-1: #ffffff;
$lt-secondary-2: #f2f3f5;
$lt-secondary-3: #ebedef;
$lt-secondary-4: #e3e5e8;
$lt-secondary-5: #caccce;

$lt-text-1: #000000;
$lt-text-2: #666666;
$lt-text-3: #888888;
