$blue-1: #315891;
$blue-2: #24416c;
$highlight: #01baef;

$dark-1: #666666;
$dark-2: #555555;
$dark-3: #444444;
$dark-4: #333333;

$purple-1: #6b69d6;
$purple-2: #504fa1;
$purple-3: #383773;

$white-1: #ffffff;
$white-2: #dddddd;
$white-3: #cccccc;
$white-4: #bbbbbb;

$rare-color: #0070dd;
$epic-color: #a335ee;

$artifact: #dbcc78;

// HORDE
$horde-red-1: #8c1616;
$horde-red-2: #6e1d1d;
$horde-red-3: #5e1d1d;

// ALLIANCE
$alliance-blue-1: #34488b;
$alliance-blue-2: #33437a;
$alliance-blue-3: #2a355a;
