// WOWUP
$wowup-purple-1: #8c9eff;
$wowup-purple-3: #3d5afe;
$wowup-control: #536dfe;

// HORDE
// Material Color Palette - http://mcg.mbitson.com/#!?horde=%238c1616
$horde-red-1: #8c1616; // Header Color - Primary 500
$horde-red-3: #5c0606; //  Scroll bar toggle color - Primary 900
$horde-control: #ff5b5b; // Option toggle color - Accent 200

// ALLIANCE
// Material Color Palette - http://mcg.mbitson.com/#!?alliance=%23162c57
$alliance-blue-1: #162c57; // Header color - Primary 500
$alliance-blue-2: #394c70; // Secondary color - Primary 400
$alliance-blue-3: #06102c; // Scroll bar toggle color - Primary 900
$alliance-control: #335eff; // Option toggle color - Accent 200
