<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content #dialogContent>
  <pre class="message changelog" [innerHtml]="data.message"></pre>
</div>
<div mat-dialog-actions class="dialog-buttons">
  <div class="btn-wrapper">
    <button class="wu-btn wu-btn-flat" [mat-dialog-close]="false">
      {{ negativeKey | translate }}
    </button>
    <button class="wu-btn wu-btn-primary" [mat-dialog-close]="true" cdkFocusInitial>
      {{ positiveKey | translate }}
    </button>
  </div>
</div>
