<div class="container">
    <button *ngIf="showInstallButton" mat-flat-button color="primary" (click)="onInstall()">Install</button>
    <button *ngIf="showUpdateButton" mat-flat-button color="primary" (click)="onUpdate()">Update</button>
    <p *ngIf="showStatusText" class="status-text">{{statusText}}</p>
    <div *ngIf="showProgressBar" class="progress-container">
        <p class="progress-text">{{progressText}}</p>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
</div>