.cell-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .cell-wrap {
    white-space: normal;
    text-decoration: none;
    font-size: 1em;
    line-height: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
  }
}

.overflow {
  p {
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    text-overflow: ellipsis;
    line-height: 1.2em !important ;
    max-height: calc(3 * 1.2em);
    margin: 0;
    padding: 0;
    overflow: hidden;
    word-break: break-all;
  }
}
