<div class="addon-detail-view">
  <div class="addon-detail-title">
    <img
      mat-card-avatar
      class="addon-header-thumbnail"
      [src]="addonDetail.thumbnailUrl"
    />
    <h2 mat-dialog-title>{{ addonDetail.name }}</h2>
    <button mat-icon-button [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="accent">close</mat-icon>
    </button>
  </div>
  <div class="addon-detail-subtitle">
    <div class="mat-subheading-1">By {{ addonDetail.author }}</div>
    <app-addon-provider-badge
      [providerName]="addonDetail.providerName"
    ></app-addon-provider-badge>
  </div>
  <mat-dialog-content>
    <div class="mat-caption addon-detail-summary">
      {{ addonDetail.summary }}
    </div>
    <p>
      {{ addonDetail.description }}
    </p>
    <img mat-card-image [src]="defaultImageUrl" alt="Addon Picture" />
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-buttons">
    <div class="btn-wrapper">
      <a appExternalLink mat-stroked-button color="primary"[href]="addonDetail.externalUrl"
        >VIEW IN BROWSER</a
      >
      <button
        mat-raised-button
        class="mat-primary"
        (click)="installAddon()"
        cdkFocusInitial
      >
        INSTALL
      </button>
    </div>
  </mat-dialog-actions>
</div>
