<div class="addon-detail-view">
  <div class="row align-items-start">
    <h3 mat-dialog-title class="flex-grow-1">{{ title }}</h3>
    <mat-icon
      class="close-icon"
      color="accent"
      [mat-dialog-close]="true"
      [ngStyle]="{ cursor: 'pointer' }"
    >
      highlight_off</mat-icon
    >
  </div>
  <div *ngIf="defaultImageUrl" class="row justify-content-center image-row">
    <img class="image" [src]="defaultImageUrl" alt="Addon Picture" />
  </div>

  <div mat-dialog-content>
    <div class="row align-items-start">
      <div
        class="mat-subheading-1 flex-grow-1 mr-3"
        translate
        [translateParams]="{ authorName: subtitle }"
      >
        DIALOGS.ADDON_DETAILS.BY_AUTHOR
      </div>
      <!-- <app-addon-provider-badge
        [providerName]="provider"
        class="flex-shrink-0"
      ></app-addon-provider-badge> -->
      <span> {{ 'DIALOGS.ADDON_DETAILS.VIEW_ON_PROVIDER_PREFIX' | translate }} {{ provider }} &nbsp; </span>
      <a
        class="icon-link"
        appExternalLink
        [href]="externalUrl"
        [matTooltip]="
          'DIALOGS.ADDON_DETAILS.VIEW_IN_BROWSER_BUTTON' | translate
        "
      >
        <mat-icon class="open-in-browser-icon" color="accent">launch</mat-icon>
      </a>
    </div>
    <div class="mat-caption addon-detail-summary">{{ summary }}</div>
  </div>
  <div mat-dialog-actions class="row align-items-center justify-content-end">
    <app-addon-install-button
      *ngIf="showInstallButton"
      [addonSearchResult]="model.searchResult"
      (onViewUpdated)="onInstallUpdated()"
    >
    </app-addon-install-button>
    <app-addon-update-button
      *ngIf="showUpdateButton"
      [listItem]="model.listItem"
    ></app-addon-update-button>
  </div>
</div>
