<div class="addon-column row align-items-center">
  <div class="thumbnail-container">
    <div class="addon-logo-container" [style.backgroundImage]="'url(' + listItem.addon.thumbnailUrl + ')'">
    </div>
    <div *ngIf="listItem.isBetaChannel || listItem.isAlphaChannel" class="channel"
      [ngClass]="{'beta': listItem.isBetaChannel, 'alpha': listItem.isAlphaChannel }">
      {{listItem.isAlphaChannel ? 'Alpha': 'Beta'}}</div>
  </div>
  <div>
    <a class="addon-title mat-subheading-2" (click)="viewDetails()">{{listItem.addon.name}}</a>
    <div class="addon-funding">
      <a *ngIf="listItem.addon.patreonFundingLink" appExternalLink [href]="listItem.addon.patreonFundingLink"
        matTooltip="Support the author on Patreon">
        <img class="funding-icon" src="assets/images/patreon_logo_small.png" />
      </a>
      <a *ngIf="listItem.addon.githubFundingLink" appExternalLink [href]="listItem.addon.githubFundingLink"
        matTooltip="Support the author on GitHub">
        <img class="funding-icon" src="assets/images/github_logo_small.png" />
      </a>
      <a *ngIf="listItem.addon.customFundingLink" appExternalLink [href]="listItem.addon.customFundingLink"
        matTooltip="Support this author">
        <img class="funding-icon" src="assets/images/custom_funding_logo_small.png" />
      </a>
    </div>
    <div class="addon-version">{{listItem.addon.installedVersion}}</div>
  </div>
</div>