@import "../../../variables.scss";

.addon-column {
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .thumbnail-container {
    margin-right: 11px;

    .addon-logo-container {
      background-color: $dark-2;
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      .addon-logo {
        height: 100%;
      }
    }

    .channel {
      background: $dark-4;
      text-align: center;
      font-weight: bold;
      font-size: 0.8em;

      &.beta {
        color: $rare-color;
      }

      &.alpha {
        color: $epic-color;
      }
    }
  }

  .addon-title {
    font-weight: bold;
    font-size: 1.1em;
    // word-break: break-all;
    white-space: normal;
    text-decoration: none;
    color: $white-1;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: $white-2;
    }
  }

  .addon-version {
    color: $white-2;
  }
}
