<!-- 
<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>
</div> -->
<div class="app-logo">
  <img src="/assets/wowup_logo_512np.png" />
</div>

<mat-tab-group mat-align-tabs="center" [backgroundColor]="'primary'">
  <mat-tab label="My Addons">
    <app-my-addons></app-my-addons>
  </mat-tab>
  <mat-tab label="Get Addons">
    <app-get-addons></app-get-addons>
  </mat-tab>
  <mat-tab label="About">
    <app-about></app-about>
  </mat-tab>
  <mat-tab label="Options">
    <app-options></app-options>
  </mat-tab>
</mat-tab-group>