<mat-divider></mat-divider>
<div class="title">{{clientTypeName}}</div>
<div class="row">
  <mat-form-field class="grow folder-input">
    <mat-label>{{clientTypeName}} Path</mat-label>
    <input matInput disabled [value]="clientLocation">
    <mat-hint>The folder that contains the retail client folder "{{clientFolderName}}"</mat-hint>
  </mat-form-field>
  <button mat-flat-button color="primary" class="select-button" (click)="onSelectClientPath()">Select</button>
</div>
<div class="row">
  <div class="grow">
    <p>Default Addon Channel</p>
  </div>
  <mat-form-field class="light-select">
    <mat-label>Addon Channel</mat-label>
    <mat-select [(value)]="selectedAddonChannelType" (selectionChange)="onDefaultAddonChannelChange($event)">
      <mat-option *ngFor="let channel of addonChannelInfos" [value]="channel.type">{{channel.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="row">
  <div class="grow">
    <p>Auto Update</p>
    <small class="hint">Newly installed addons will be set to auto update by default</small>
  </div>
  <mat-slide-toggle [(checked)]="clientAutoUpdate" (change)="onDefaultAutoUpdateChange($event)">
  </mat-slide-toggle>
</div>