<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <pre #dialogContent class="message changelog" [innerHTML]="data.message"></pre>
</div>
<div mat-dialog-actions [ngSwitch]="data.positiveButtonStyle" align="end">
  <button
    *ngSwitchCase="'raised'"
    class="wu-btn"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    {{ data.positiveButton ?? "DIALOGS.ALERT.POSITIVE_BUTTON" | translate }}
  </button>
  <button *ngSwitchDefault class="wu-btn" [mat-dialog-close]="true" cdkFocusInitial>
    {{ data.positiveButton ?? "DIALOGS.ALERT.POSITIVE_BUTTON" | translate }}
  </button>
</div>
