<div
  *ngIf="(showPreLoad$ | async) === false && quitEnabled === false"
  class="app"
  [ngClass]="[sessionService.currentTheme$ | async, electronService.platform]"
>
  <app-titlebar class="gtitle"></app-titlebar>
  <!-- <app-horizontal-tabs></app-horizontal-tabs> -->
  <app-vertical-tabs class="gtabs"></app-vertical-tabs>
  <div class="content bg-secondary-3 gmain">
    <!-- <div class="tabs">
      <app-vertical-tabs></app-vertical-tabs>
    </div> -->
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer class="gfooter"></app-footer>
</div>

<app-animated-logo *ngIf="(showPreLoad$ | async) === true || quitEnabled === true"></app-animated-logo>
