@import "../../../custom-theme.scss";

.titlebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 4px;

  .debug-button {
    height: 15px;
    width: 15px;
  }

  .theme-logo {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 4px;
    height: 82px;
    opacity: 0.3;
    overflow: hidden;

    img {
      position: relative;
      left: 0;
      height: 150%;
      width: auto;
    }
  }
}

.mac {
  height: 22px;

  .theme-logo {
    height: 74px;
    right: 4px;
    left: initial;
  }
}
.windows,
.linux {
  height: 30px;
}
.titlebar-drag-region {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.window-logo-container {
  margin-left: 4px;
  width: 35px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  img {
    width: 20px;
  }
}
.title-container {
  flex-grow: 1;
  text-align: center;
}
.window-control-container {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  position: relative;
  z-index: 3000;
  -webkit-app-region: no-drag;
  height: 100%;

  .window-control {
    height: 100%;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2500;
    margin-top: -8px;

    &:hover {
      cursor: pointer;
    }

    img {
      height: 16px;
    }
  }
}
